.left {
text-align: left;
border-style: hidden;
}
.logo {
    text-align: center;
    margin-top: 200px;
}
.bar {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    position: flex;
}
.bottom-button {
    text-align: center;
    margin-top: 50px;
}              
.search {
    border: none;
    background-color: whitesmoke;
    margin-right: 25px;
}
.lucky {
    border:none;
    border-color:whitesmoke;
}
ul {
    list-style-type: none;
    margin-top: 50px;
    margin: 0;
    padding: 0;
    background: none;
  }
li{
    display: inline;
    padding: 8px;
    padding-top: 10px;
    background-color: white;
}
.C {
    float:right;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 25px;
    margin-right: 10px;
    background-color: #ff6322;
    color:white;    
}
.Gmail {
    margin-left: 84%;
}
a {
    text-decoration: none;
    color: black;
}



